PAYLOAD_SECRET=46668d81121f2c05193c5fd6
DATABASE_URL=file:./database.db
COMPANY_NAME="Payload Inc."
TWITTER_CREATOR="@payloadcms"
TWITTER_SITE="https://nextjs.org/commerce"
SITE_NAME="Payload Commerce"
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# Used to preview drafts
PREVIEW_SECRET=demo-draft-secret
# Stripe API keys
# STRIPE_SECRET_KEY=sk_test_
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_
# STRIPE_WEBHOOKS_SIGNING_SECRET=whsec_

NEXT_PUBLIC_API_URL=http://localhost:3000
REVALIDATE_SECRET=mysecret
# Added by Payload
